In [ ]:
# import sqlite3
import sqlite3 as sqlite

# import pandas
import pandas as pd

# import sqlalchemy
from sqlalchemy import create_engine

import pyodbc

In [ ]:
# For demonstration purposes, we'll create a database, population.db, and insert one table with the name, Population, which represents the population in different countries.

with sqlite.connect('population.db') as con:
    cur = con.cursor()    
    cur.execute("CREATE TABLE IF NOT EXISTS Population(id INTEGER PRIMARY KEY, country TEXT, population INT)")
    cur.execute("INSERT INTO Population VALUES(NULL,'Germany',81197537)")
    cur.execute("INSERT INTO Population VALUES(NULL,'France', 66415161)")
    cur.execute("INSERT INTO Population VALUES(NULL,'Spain', 46439864)")
    cur.execute("INSERT INTO Population VALUES(NULL,'Italy', 60795612)")
    cur.execute("INSERT INTO Population VALUES(NULL,'Spain', 46439864)")
    cur.close()

In [ ]:
# We have already learned how to make a connection to the SQLite database with the sqlite3 module. 
# Another option is, to connect to the SQLite (or any other supported databases) database using SQLAlchemy. 
# This type of connection is also recommended by Pandas.

connection = create_engine('sqlite:///population.db')

## Reading SQL data with Pandas

Pandas allows us to query SQL tables with three methods:

- **read_sql_query()**
- **read_sql_table()**
- **read_sql()**

### 1) **read_sql_query()**
- requires two parameters as input. 
- The first parameter is a string with a SQL query 
- The second one is a connection to the database.

In [ ]:
# create SQL query
sql = 'SELECT * FROM Population'

with create_engine('sqlite:///population.db').connect() as con:
    df = pd.read_sql_query(sql, con)
df

### 2) **read_sql_table()**
- The first argument is the table name 
- The second argument is a connection to the database

In [ ]:
# table name
table = 'Population'

with create_engine('sqlite:///population.db').connect() as con:
    df = pd.read_sql_table(table, con)
df

### 3) **read_sql()**
- The first argument is the table name or SQL query
- The second argument is a connection to the database

In [ ]:
# create SQL query
sql = 'SELECT * FROM Population'

with create_engine('sqlite:///population.db').connect() as con:
    df = pd.read_sql_query(sql, con)
df

In [ ]:
# table name
table = 'Population'

with create_engine('sqlite:///population.db').connect() as con:
    df = pd.read_sql(table, con)
df

## Pyodbc

You can find the documentation [here](https://github.com/mkleehammer/pyodbc/wiki).

In [ ]:
CONNECTION_STRING = """
    Driver={ODBC Driver 17 for SQL Server};
    Server=your_server_name,your_port;
    Database=your_database_name;
    Uid=your_user_name;
    Pwd = {your_password};
    Encrypt = yes;
    TrustServerCertificate=no;
    Connection Timeout=30')
"""

with pyodbc.connect(CONNECTION_STRING) as con:
    df = pd.read_sql('SELECT * FROM your_table', con)