# Recap from morning activities

## Variables

In [ ]:
temperature = 32

In [ ]:
print(temperature)

In [ ]:
temperature

In [ ]:
type(temperature)

In [ ]:
temperature = 32.5

In [ ]:
type(temperature)

In [ ]:
country_code = 'SK'
country_code

In [ ]:
country_code = "DE"
country_code

In [ ]:
type(country_code)

In [ ]:
is_done = True
is_done

In [ ]:
type(is_done)

# Strings

In [ ]:
name = 'Jakub'
surname = 'String'

In [ ]:
name_surname = name + ' '  + surname
name_surname

In [ ]:
name * 5

In [ ]:
'John' in name_surname

In [ ]:
'john' in name_surname

In [ ]:
len(name)

In [ ]:
temperature = 32.5
print(type(temperature))
print(type(str(temperature)))

In [ ]:
2 + 'string'

In [ ]:
str(2) + 'string'

In [ ]:
name

In [ ]:
name[0:2]

In [ ]:
name[:2]

In [ ]:
name[0:-1]

In [ ]:
name[2:2]

In [ ]:
name[1:2]

In [ ]:
name[-2:]

## Lists

In [ ]:
names = [name, 'Peter', 'Jana', 'Hana']
names

In [ ]:
n1,n2,n3,n4 = names
print(n1,n2,n3,n4)

In [ ]:
type(names)

In [ ]:
len(names)

In [ ]:
names[0]

In [ ]:
names[1:5]

In [ ]:
names[5]

In [ ]:
names2 = [name, 'Peter', 'Jana', 'Hana']

In [ ]:
names2 is names

In [ ]:
names2 == names

In [ ]:
nested_list = ['a', ['b', 'c'], 4]
nested_list

In [ ]:
print(type(nested_list[0]))
print(type(nested_list[1]))

In [ ]:
# names.append('Petra')
# names = names + ['Petra']
names += ['Petra']
names

In [ ]:
#names.extend(names2)
names += names2
names

In [ ]:
names[0] = 'Lukas'
names

## Tuples

In [ ]:
tpl_names = tuple(names)
tpl_names

In [ ]:
tpl_names2 = ('Jakub', 'Peter', 'Jana', 'Hana')
tpl_names2

In [ ]:
tpl_names2[0] = 'Lukas'

## Dictionaries

In [ ]:
dct = {
    'key_1': 'value_1',
    'key_2': 'value_2',
    'key_3': 'value_3'
}

In [ ]:
dct

In [ ]:
dct['key_1']

In [ ]:
dct['key_10']

In [ ]:
dct.get('key_10','NOT FOUND')

In [ ]:
dct['key_1'] = 'value_1_replaced'
dct['key_1']

In [ ]:
dct['key_4'] = ['a','b','c']

In [ ]:
dct['key_4']

In [ ]:
dct[['a','b']] = 3

In [ ]:
dct[('a','b')] = 3

In [ ]:
dct.keys()

In [ ]:
dct.values()

In [ ]:
dct.items()

# Afternoon Lecture

## Conditionals

In [ ]:
a = 0
b = 5

In [ ]:
if b>0:
    print('is greater than 0')

In [ ]:
if a < b:
    print('a is smaller than b')
else:
    print('a is not smaller than b')

print('print statement after IF')

In [ ]:
if b > 1:
    print('is bigger than 1')
elif b > 2:
    print('is bigger than 2')
else:
    print('is smaller than 1')

In [ ]:
if b > 1:
    print('is bigger than 1')
if b > 2:
    print('is bigger than 2')
else:
    print('is smaller than 1')

In [ ]:
if (a > -1) and (b > -1):
    print('a and b are both greater than -1')

In [ ]:
if (a > 0) or (b > 0):
    print('a or b is greater than 0')

In [ ]:
if a:
    print('exists')

In [ ]:
if b:
    print('exists')

In [ ]:
lst = []
if lst:
    print('list is not empty')

In [ ]:
number = -5
is_positive = True if number > 0 else False
is_positive

In [ ]:
number = -5
if number > 0:
    is_positive = True
else:
    is_positive=False
is_positive

## While loop

In [ ]:
iteration = 0
while iteration < 10:
    iteration += 1
    print(iteration)

In [ ]:
iteration = 0
while iteration < 10:
    iteration += 1
    
    if iteration in [2,3,4]:
        continue
        
    print(iteration)

In [ ]:
iteration = 0
while iteration < 10:
    iteration += 1
    
    if iteration % 3 == 0:
        break
        
    print(iteration)

In [ ]:
import numpy as np

while True:
    random_number = np.random.randint(100)
    print(random_number)
    
    if random_number > 50 and random_number < 55:
        break

## For loop

In [ ]:
items = ['bag', 'desk', 'PC', 'sofa']

for item in items:
    print(item)

In [ ]:
items = ['bag', 'desk', 'PC', 'sofa']

for item in items:
    
    if item == 'PC':
        continue
    
    print(item)

In [ ]:
items = ['bag', 'desk', 'PC', 'sofa']

for item in items:
    print(item)
    
    if item == 'PC':
        break

In [ ]:
dct = {
    'key_1': 'value_1',
    'key_2': 'value_2',
    'key_3': 'value_3'
}

for key in dct:
    print(key)

In [ ]:
for key in dct:
    value = dct[key]
    print(value)

In [ ]:
for key in dct.values():
    print(key)

In [ ]:
for key, value in dct.items():
    print(key, value)

In [ ]:
string = 'something'
for letter in string:
    print(letter)

In [ ]:
for i in range(2,10):
    print(i)

In [ ]:
items = ['bag', 'desk', 'PC', 'sofa']
index = 0

for item in items:
    print(index, item)
    
    index += 1

In [ ]:
items = ['bag', 'desk', 'PC', 'sofa']

for index, item in enumerate(items):
    print(index, item)

In [ ]:
list(enumerate(items))

In [ ]:
items = ['bag', 'desk', 'PC', 'sofa']

for tpl in enumerate(items):
    print(tpl, tpl[0], tpl[1])

## Functions

In [ ]:
def function():
    print('Function called!!')

In [ ]:
function()

In [ ]:
def sum_function(a,b):
    print(a+b)

In [ ]:
sum_function(a=2,b=3)

In [ ]:
def sum_function(a,b):
    return a + b

In [ ]:
result = sum_function(2,3)
result

In [ ]:
def sum_function(a=2,b=3):
    return a + b

In [ ]:
result = sum_function()
result

In [ ]:
result = sum_function(6,7)
result

In [ ]:
def function():
    function_variable = 2
    print(function_variable)

In [ ]:
function()

In [ ]:
print(function_variable)

In [ ]:
def mean_func(*args):
    print(f'Args: {args}')
    
    mean = sum(args)/len(args)
    
    print(mean)

In [ ]:
mean_func(100,1)

In [ ]:
sum((1,3,4))

In [ ]:
def kwargs_func(**kwargs):
    print(kwargs)
    
    for name, value in kwargs.items():
        print(name, value)

In [ ]:
kwargs_func(phone='134', status='OK')