# Other Data Types
In this lecture we will show how we can handle different data types in Python. Pandas will be a huge help for us during this lecture and following exercises. We will cover following topics:
- Excel
- JSON
- XML
- Images
- HTML

## Excel

In [1]:
import pandas as pd

In [2]:
excel_file = 'data/movies.xls'
movies = pd.read_excel(excel_file)

In [3]:
movies.head()

,Title,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 1,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score
0,Intolerance: Love's Struggle Throughout the Ages,1916,Drama|History|War,NaN,USA,Not Rated,123,1.33,385907.0,NaN,...,436,22,9.0,481,691,1,10718,88,69.0,8.0
1,Over the Hill to the Poorhouse,1920,Crime|Drama,NaN,USA,NaN,110,1.33,100000.0,3000000.0,...,2,2,0.0,4,0,1,5,1,1.0,4.8
2,The Big Parade,1925,Drama|Romance|War,NaN,USA,Not Rated,151,1.33,245000.0,NaN,...,81,12,6.0,108,226,0,4849,45,48.0,8.3
3,Metropolis,1927,Drama|Sci-Fi,German,Germany,Not Rated,145,1.33,6000000.0,26435.0,...,136,23,18.0,203,12000,1,111841,413,260.0,8.3
4,Pandora's Box,1929,Crime|Drama|Romance,German,Germany,Not Rated,110,1.33,NaN,9950.0,...,426,20,3.0,455,926,1,7431,84,71.0,8.0

In [6]:
# we can specify what sheet we want
movies_sheet1 = pd.read_excel(excel_file, sheet_name=0, index_col=0)
movies_sheet1.head()

,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,Director,...,Facebook Likes - Actor 1,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score
Title,,,,,,,,,,,,,,,,,,,,,
Intolerance: Love's Struggle Throughout the Ages,1916,Drama|History|War,NaN,USA,Not Rated,123,1.33,385907.0,NaN,D.W. Griffith,...,436,22,9.0,481,691,1,10718,88,69.0,8.0
Over the Hill to the Poorhouse,1920,Crime|Drama,NaN,USA,NaN,110,1.33,100000.0,3000000.0,Harry F. Millarde,...,2,2,0.0,4,0,1,5,1,1.0,4.8
The Big Parade,1925,Drama|Romance|War,NaN,USA,Not Rated,151,1.33,245000.0,NaN,King Vidor,...,81,12,6.0,108,226,0,4849,45,48.0,8.3
Metropolis,1927,Drama|Sci-Fi,German,Germany,Not Rated,145,1.33,6000000.0,26435.0,Fritz Lang,...,136,23,18.0,203,12000,1,111841,413,260.0,8.3
Pandora's Box,1929,Crime|Drama|Romance,German,Germany,Not Rated,110,1.33,NaN,9950.0,Georg Wilhelm Pabst,...,426,20,3.0,455,926,1,7431,84,71.0,8.0

In [10]:
# if we want second sheet
movies_sheet2 = pd.read_excel(excel_file, sheet_name=1, index_col=0)
movies_sheet2.head()

,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,Director,...,Facebook Likes - Actor 1,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score
Title,,,,,,,,,,,,,,,,,,,,,
102 Dalmatians,2000,Adventure|Comedy|Family,English,USA,G,100.0,1.85,85000000.0,66941559.0,Kevin Lima,...,2000.0,795.0,439.0,4182,372,1,26413,77.0,84.0,4.8
28 Days,2000,Comedy|Drama,English,USA,PG-13,103.0,1.37,43000000.0,37035515.0,Betty Thomas,...,12000.0,10000.0,664.0,23864,0,1,34597,194.0,116.0,6.0
3 Strikes,2000,Comedy,English,USA,R,82.0,1.85,6000000.0,9821335.0,DJ Pooh,...,939.0,706.0,585.0,3354,118,1,1415,10.0,22.0,4.0
Aberdeen,2000,Drama,English,UK,NaN,106.0,1.85,6500000.0,64148.0,Hans Petter Moland,...,844.0,2.0,0.0,846,260,0,2601,35.0,28.0,7.3
All the Pretty Horses,2000,Drama|Romance|Western,English,USA,PG-13,220.0,2.35,57000000.0,15527125.0,Billy Bob Thornton,...,13000.0,861.0,820.0,15006,652,2,11388,183.0,85.0,5.8

In [11]:
movies_sheet3 = pd.read_excel(excel_file, sheet_name=2, index_col=0)
movies_sheet3.head()

,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,Director,...,Facebook Likes - Actor 1,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score
Title,,,,,,,,,,,,,,,,,,,,,
127 Hours,2010.0,Adventure|Biography|Drama|Thriller,English,USA,R,94.0,1.85,18000000.0,18329466.0,Danny Boyle,...,11000.0,642.0,223.0,11984,63000,0.0,279179,440.0,450.0,7.6
3 Backyards,2010.0,Drama,English,USA,R,88.0,NaN,300000.0,NaN,Eric Mendelsohn,...,795.0,659.0,301.0,1884,92,0.0,554,23.0,20.0,5.2
3,2010.0,Comedy|Drama|Romance,German,Germany,Unrated,119.0,2.35,NaN,59774.0,Tom Tykwer,...,24.0,20.0,9.0,69,2000,0.0,4212,18.0,76.0,6.8
8: The Mormon Proposition,2010.0,Documentary,English,USA,R,80.0,1.78,2500000.0,99851.0,Reed Cowan,...,191.0,12.0,5.0,210,0,0.0,1138,30.0,28.0,7.1
A Turtle's Tale: Sammy's Adventures,2010.0,Adventure|Animation|Family,English,France,PG,88.0,2.35,NaN,NaN,Ben Stassen,...,783.0,749.0,602.0,3874,0,2.0,5385,22.0,56.0,6.1

In [13]:
# concatenate 3 sheets into 1 dataframe
movies = pd.concat([movies_sheet1, movies_sheet2, movies_sheet3])

In [15]:
print(movies.Year.min())
print(movies.Year.max())

1916.0
2016.0

In [19]:
# do it all at once:
xlsx = pd.ExcelFile(excel_file)
movies_sheets = []
for sheet in xlsx.sheet_names:
    movies_sheets.append(xlsx.parse(sheet))
movies = pd.concat(movies_sheets)

In [20]:
movies.shape

(5042, 25)

In [21]:
print(movies.Year.min())
print(movies.Year.max())

1916.0
2016.0

#### Analysis

In [23]:
sorted_by_gross = movies.sort_values(['Gross Earnings'], ascending=False)
sorted_by_gross[['Title','Gross Earnings']]

                                     Title  Gross Earnings
1867                               Avatar      760505847.0
1027                              Titanic      658672302.0
1263                       Jurassic World      652177271.0
610                          The Avengers      623279547.0
611                          The Avengers      623279547.0
...                                    ...             ...
1599              War & Peace                          NaN
1600                    Wings                          NaN
1601               Wolf Creek                          NaN
1602        Wuthering Heights                          NaN
1603  Yu-Gi-Oh! Duel Monsters                          NaN

[5042 rows x 2 columns]

In [26]:
earnings_by_co_lang = (movies[['Country', 'Language', 'Gross Earnings']]
                       .pivot_table(index=['Country', 'Language'])
                       .unstack()
                       .fillna(0))

earnings_by_co_lang.head()

            Gross Earnings                                                  \
Language              Dari       Spanish      English Aboriginal  Dzongkha
Country
Afghanistan      1127331.0  0.000000e+00         0.00        0.0       0.0
Argentina              0.0  7.230936e+06         0.00        0.0       0.0
Aruba                  0.0  0.000000e+00  10076136.00        0.0       0.0
Australia              0.0  0.000000e+00  42049436.95  6165429.0  505295.0
Belgium                0.0  0.000000e+00    680566.50        0.0       0.0

                                                       ...                 \
Language    Portuguese French Hindi Cantonese Chinese  ... Korean Swedish
Country                                                ...
Afghanistan        0.0    0.0   0.0       0.0     0.0  ...    0.0     0.0
Argentina          0.0    0.0   0.0       0.0     0.0  ...    0.0     0.0
Aruba              0.0    0.0   0.0       0.0     0.0  ...    0.0     0.0
Australia          0.0    0.0   0.0       0.0     0.0  ...    0.0     0.0
Belgium            0.0    0.0   0.0       0.0     0.0  ...    0.0     0.0


Language    Thai Zulu Aramaic Bosnian Filipino Maya None Vietnamese
Country
Afghanistan  0.0  0.0     0.0     0.0      0.0  0.0  0.0        0.0
Argentina    0.0  0.0     0.0     0.0      0.0  0.0  0.0        0.0
Aruba        0.0  0.0     0.0     0.0      0.0  0.0  0.0        0.0
Australia    0.0  0.0     0.0     0.0      0.0  0.0  0.0        0.0
Belgium      0.0  0.0     0.0     0.0      0.0  0.0  0.0        0.0

[5 rows x 41 columns]

In [32]:
# Export Back to Excel
movies.to_excel('data/all_movies.xlsx', index=False)

## JSON

In [33]:
# generate JSON
import json

# Creating a Python Dictionary
data = {"Sub_ID":["1","2","3","4","5","6","7","8" ],
        "Name":["Erik", "Daniel", "Michael", "Sven",
                "Gary", "Carol","Lisa", "Elisabeth" ],
        "Salary":["723.3", "515.2", "621", "731", 
                  "844.15","558", "642.8", "732.5" ],
        "StartDate":[ "1/1/2011", "7/23/2013", "12/15/2011",
                     "6/11/2013", "3/27/2011","5/21/2012", 
                     "7/30/2013", "6/17/2014"],
        "Department":[ "IT", "Manegement", "IT", "HR", 
                      "Finance", "IT", "Manegement", "IT"],
        "Sex":[ "M", "M", "M", 
              "M", "M", "F", "F", "F"]}

print(data)

{'Sub_ID': ['1', '2', '3', '4', '5', '6', '7', '8'], 'Name': ['Erik', 'Daniel', 'Michael', 'Sven', 'Gary', 'Carol', 'Lisa', 'Elisabeth'], 'Salary': ['723.3', '515.2', '621', '731', '844.15', '558', '642.8', '732.5'], 'StartDate': ['1/1/2011', '7/23/2013', '12/15/2011', '6/11/2013', '3/27/2011', '5/21/2012', '7/30/2013', '6/17/2014'], 'Department': ['IT', 'Manegement', 'IT', 'HR', 'Finance', 'IT', 'Manegement', 'IT'], 'Sex': ['M', 'M', 'M', 'M', 'M', 'F', 'F', 'F']}

In [34]:
print(type(data))

<class 'dict'>

In [35]:
# saving from python to JSON file
import json

# Parse JSON
with open('data/data.json', 'w') as outfile:
    json.dump(data, outfile)

In [36]:
# Python Parsing JSON 
with open('data/data.json') as json_file:
    data = json.load(json_file)

print(data)

{'Sub_ID': ['1', '2', '3', '4', '5', '6', '7', '8'], 'Name': ['Erik', 'Daniel', 'Michael', 'Sven', 'Gary', 'Carol', 'Lisa', 'Elisabeth'], 'Salary': ['723.3', '515.2', '621', '731', '844.15', '558', '642.8', '732.5'], 'StartDate': ['1/1/2011', '7/23/2013', '12/15/2011', '6/11/2013', '3/27/2011', '5/21/2012', '7/30/2013', '6/17/2014'], 'Department': ['IT', 'Manegement', 'IT', 'HR', 'Finance', 'IT', 'Manegement', 'IT'], 'Sex': ['M', 'M', 'M', 'M', 'M', 'F', 'F', 'F']}

#### Pandas

In [39]:
import pandas as pd

# Read JSON as a dataframe with Pandas:
df = pd.read_json('data/data.json')
df

   Sub_ID       Name  Salary   StartDate  Department Sex
0       1       Erik  723.30    1/1/2011          IT   M
1       2     Daniel  515.20   7/23/2013  Manegement   M
2       3    Michael  621.00  12/15/2011          IT   M
3       4       Sven  731.00   6/11/2013          HR   M
4       5       Gary  844.15   3/27/2011     Finance   M
5       6      Carol  558.00   5/21/2012          IT   F
6       7       Lisa  642.80   7/30/2013  Manegement   F
7       8  Elisabeth  732.50   6/17/2014          IT   F

In [40]:
# now we can store as excel/csv
df.to_csv("data/data.csv", index=False)

In [62]:
url = "https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/data.json"
first_json = pd.read_json(url)
first_json.head()

   integer            datetime  category
0        5 2015-01-01 00:00:00         0
1        5 2015-01-01 00:00:01         0
2        9 2015-01-01 00:00:02         0
3        6 2015-01-01 00:00:03         0
4        6 2015-01-01 00:00:04         0

In [ ]:
first_json.to_json('data/json_columns.json', orient="columns")
first_json.to_json('data/json_index.json', orient="index")

In [64]:
# I can use to_json and read_json only with simple JSON. 
# All arrays inside need to have arrays of same length.
df = pd.read_json("data/nested.json")

ValueError: arrays must all be same length

In [74]:
import json
#load json object
with open('data/nested.json') as f:
    nested_json = json.load(f)
print(nested_json)
print(type(nested_json))

{'article': [{'id': '01', 'language': 'JSON', 'edition': 'first', 'author': 'Allen'}, {'id': '02', 'language': 'Python', 'edition': 'second', 'author': 'Aditya Sharma'}], 'blog': [{'name': 'Datacamp', 'URL': 'datacamp.com'}]}
<class 'dict'>

In [75]:
# we can use package pprint to print the dict nicely
import pprint

In [76]:
pprint.pprint(nested_json)

{'article': [{'author': 'Allen',
              'edition': 'first',
              'id': '01',
              'language': 'JSON'},
             {'author': 'Aditya Sharma',
              'edition': 'second',
              'id': '02',
              'language': 'Python'}],
 'blog': [{'URL': 'datacamp.com', 'name': 'Datacamp'}]}

In [78]:
# pandas has also tool to work with nested json
pd.json_normalize(nested_json)

,article,blog
0,"[{'id': '01', 'language': 'JSON', 'edition': '...","[{'name': 'Datacamp', 'URL': 'datacamp.com'}]"

We can see from above that the primary keys are the columns of the DataFrame. We were able to load it as a Pandas DataFrame but it still looks weird.

In [80]:
blog = pd.json_normalize(nested_json,record_path ='blog')
blog.head()

       name           URL
0  Datacamp  datacamp.com

In [81]:
blog = pd.json_normalize(nested_json,record_path ='article')
blog.head()

   id language edition         author
0  01     JSON   first          Allen
1  02   Python  second  Aditya Sharma

#### Once more

In [82]:
# define json string
data = [{"state": "Florida", 
        "shortname": "FL",
        "info": {"governor": "Rick Scott"},
        "counties": [{"name": "Dade", "population": 12345},
                     {"name": "Broward", "population": 40000},
                     {"name": "Palm Beach", "population": 60000}]},
       {"state": "Ohio",
        "shortname": "OH",
        "info": {"governor": "John Kasich"},
        "counties": [{"name": "Summit", "population": 1234},
                     {"name": "Cuyahoga", "population": 1337}]}]

In [83]:
pd.json_normalize(data)

,state,shortname,counties,info.governor
0,Florida,FL,"[{'name': 'Dade', 'population': 12345}, {'name...",Rick Scott
1,Ohio,OH,"[{'name': 'Summit', 'population': 1234}, {'nam...",John Kasich

In [84]:
pd.json_normalize(data=data, record_path='counties', meta=['state', 'shortname', ['info', 'governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

## XML

## Text

In [45]:
text_file = open("data/text.txt", "r")

In [46]:
text_file

In [47]:
text_file.read()

'Whether it’s a full-time bootcamp or a part-time program, Lighthouse Labs offers coding education from newbie to professional developer. With the support of a brilliant team of instructors and mentors, you’ll be ready to translate concepts, break down problems, and continue learning on the job.\nLearning to code is one thing. Becoming a developer is a whole other ball-game. The goal of bootcamps at Lighthouse Labs is to take you from hobbyist to professional developer and be the launchpad for your career.'

In [48]:
### Run it again:

In [49]:
text_file.read()

''

> #### Warning
> When you say `read` on a file object, you actually move the file pointer to the end and hence your next calls to `read` would return empty.

You need to store the results into the variable

In [51]:
text_file = open("data/text.txt", "r")
text = text_file.read()

We can also read the first line only

In [53]:
text_file = open("data/text.txt", "r")
text_file.readline()

'Whether it’s a full-time bootcamp or a part-time program, Lighthouse Labs offers coding education from newbie to professional developer. With the support of a brilliant team of instructors and mentors, you’ll be ready to translate concepts, break down problems, and continue learning on the job.\n'

In [54]:
### Run it twice more:

In [55]:
text_file.readline()

'Learning to code is one thing. Becoming a developer is a whole other ball-game. The goal of bootcamps at Lighthouse Labs is to take you from hobbyist to professional developer and be the launchpad for your career.'

In [56]:
text_file.readline()

''

> #### Note
> After reading first line the file pointer was at the beginning of the second line. Our file consists of 2 lines therefore afte the load of second, the pointer was at the end the next read returned nothing.

In [58]:
### Load the lines into list
text_file = open("data/text.txt", "r")
text = text_file.readlines()

In [59]:
type(text)

list

## HTML

In [85]:
import pandas as pd
import requests

We will work with the URL https://www.worldcoinindex.com/.

In [86]:
url = 'https://www.worldcoinindex.com/'
crypto_url = requests.get(url)
crypto_url

In [87]:
body = crypto_url.text

In [89]:
# let's see what can pandas do about it:
crypto_data = pd.read_html(body)
print(type(crypto_data))
print(len(crypto_data))

<class 'list'>
1

In [90]:
crypto_data = crypto_data[0]
crypto_data.head()

,#,Unnamed: 1,Name,Ticker,Last price,%,24 high,24 low,Price Charts 7d,24 volume,# Coins,Market cap
0,1,NaN,Ethereum,ETH,"$ 2,542.37",+1.29%,"$ 2,581.29","$ 2,410.90",NaN,$ 19.18B,116.22M,$ 295.47B
1,2,NaN,Bitcoin,BTC,"$ 34,924",+4.53%,"$ 35,390","$ 32,438",NaN,$ 18.53B,18.73M,$ 654.16B
2,3,NaN,Ripple,XRP,$ 0.867057,-0.73%,$ 0.881842,$ 0.832154,NaN,$ 3.36B,46.18B,$ 40.04B
3,4,NaN,Dogecoin,DOGE,$ 0.328648,+0.81%,$ 0.334942,$ 0.312579,NaN,$ 2.86B,129.40B,$ 42.52B
4,5,NaN,Ethereumclassic,ETC,$ 59.19,+4.37%,$ 61.06,$ 53.64,NaN,$ 2.54B,127.32M,$ 7.53B

In [93]:
# data types are not correct unfortunately
crypto_data.dtypes

#                  object
Unnamed: 1         object
Name               object
Ticker             object
Last price         object
%                  object
24 high            object
24 low             object
Price Charts 7d    object
24 volume          object
# Coins            object
Market cap         object
dtype: object

**What if there is no table in HTML?**

If we want to extract information from HTML, which doesn't have a table, we need to use a different approach: Scraping. Fortunately, Python has a great package for this called Beautiful Soup.