# Recap from yesterday

In [ ]:
import datetime as dt
import time

In [ ]:
# not recommended
def get_datetime(datetime=dt.datetime.now()):
    return datetime

# the right way
# def get_datetime(datetime=None):
#     if datetime is None:
#         datetime =  dt.datetime.now()
    
#     return datetime

In [ ]:
for i in range(10):
    datetime = get_datetime()
    print(datetime)
    
    time.sleep(1)

In [ ]:
# not recommended
def add_one_to_list(lst=[]):
    lst += [1]
    return lst

# the right way
# def add_one_to_list(lst=None):
#     if lst is None:
#         lst = []
#     lst += [1]
    
#     return lst

In [ ]:
print(add_one_to_list([1,2,3,4]))

In [ ]:
print(add_one_to_list([5,6,7,8]))

In [ ]:
print(add_one_to_list())

In [ ]:
# Q: what do you expect to be printed?
print(add_one_to_list())

In [ ]:
print(add_one_to_list())

# Pandas

Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language.

* A fast and efficient DataFrame object for data manipulation with integrated indexing.

* Tools for reading and writing data between in-memory data structures and different formats: CSV and text files, Microsoft Excel, SQL databases.

* Intelligent data alignment and integrated handling of missing data: gain automatic label-based alignment in computations and easily manipulate messy data into an orderly form.

* Flexible reshaping and pivoting of data sets.

* Intelligent label-based slicing, fancy indexing, and subsetting of large data sets.

* Aggregating or transforming data with a powerful group by engine allowing split-apply-combine operations on data sets.

* High performance merging and joining of data sets.

* Time series-functionality: date range generation and frequency conversion, moving window statistics, date shifting and lagging. 

* Highly optimized for performance, with critical code paths written in Cython or C.

You can find pandas documentation [here](https://pandas.pydata.org/docs/).

In [ ]:
# best practice import
import pandas as pd

# set display options
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [ ]:
# read data from csv
df = pd.read_csv('listings.csv')

In [ ]:
# print first 5 rows
df.head(5)

In [ ]:
# print last 7 rows
df.tail(7)

In [ ]:
# print shape of data
df.shape

In [ ]:
# info
df.info()

In [ ]:
# missing values
df.isna()

In [ ]:
# missing values summary
df.isna().sum()

In [ ]:
# drop missing value from 'name' column
df.dropna(subset=['name'], inplace=True)

In [ ]:
df.isna().sum()

In [ ]:
df.shape

In [ ]:
# numeric data types description
df.describe().round(2)

In [ ]:
# print dataframe columnns
list(df.columns)

In [ ]:
# one row of dataframe => series 
df.host_name

In [ ]:
# check the type
type(df.host_name)

In [ ]:
# another way to acces one columns
df['host_name']

In [ ]:
type(df['host_name'])

In [ ]:
# one column as dataframe
df[['host_name']]

In [ ]:
# check the type
type(df[['host_name']])

In [ ]:
# select columns from dataframe
columns = ['host_name','host_location','host_since']
df[columns]

In [ ]:
# loc method to filter dataframe
df.loc[0, 'host_name']

In [ ]:
df.head(2)

In [ ]:
# iloc method to filter dataframe
df.iloc[0,1]

In [ ]:
# check data types
df.dtypes

In [ ]:
# mean method on a series
df['review_scores_rating'].mean()

In [ ]:
# broadcasting
df['review_scores_rating'] - 50

In [ ]:
# broadcasting
df['review_scores_rating'] - df['review_scores_rating'].mean()

In [ ]:
# compute values and assign to a new column
df['review_score_above_average'] = df['review_scores_rating'] - df['review_scores_rating'].mean()

In [ ]:
df.head()

In [ ]:
df[['review_scores_rating','review_score_above_average']]

In [ ]:
# multiplication with different data types
df['min_revenue'] = df['minimum_nights'] * df['price']
df[['minimum_nights', 'price', 'min_revenue']].head(15)

In [ ]:
df[['minimum_nights','price']].dtypes

In [ ]:
# clean the price columns
df['price'] = df['price'].str[1:].str.replace(',','').astype(float)

In [ ]:
# compute min_revenue again with right data types
df['min_revenue'] = df['minimum_nights'] * df['price']
df[['minimum_nights', 'price', 'min_revenue']].head(15)

In [ ]:
df['last_review']

In [ ]:
# conversion to datetime
df['last_review'] = pd.to_datetime(df['last_review'])
df.dtypes

In [ ]:
# create a new column with year only
df['year'] = df['last_review'].dt.year

In [ ]:
df[['last_review','year']]

In [ ]:
# string connnversion to lowercase
df['name_lower'] = df['name'].str.lower()

In [ ]:
df[['name','name_lower']]

In [ ]:
# check the unique values from a column
df['host_has_profile_pic'].unique()

In [ ]:
# create a boolean series
df['host_has_profile_pic'] == 'f'

In [ ]:
# subseting dataframe based on boolean series
df_subset = df[(df['host_has_profile_pic'] == 't') & (df['bedrooms'] > 3)]

In [ ]:
df_subset[['host_has_profile_pic','bedrooms']]

In [ ]:
# compute average room price according to type
df[['room_type', 'price']].groupby('room_type',as_index=False).mean()

In [ ]:
# compute average room price according to room_type and year
analysis_result = df[['room_type', 'year', 'price']].groupby(['room_type', 'year'], as_index=False).mean()
analysis_result

In [ ]:
# export to csv
analysis_result.to_csv('analysis_result.csv',index=False)

# Stretch content

In [ ]:
dct = {
    'a': [1,2,3,4],
    'b': [5,6,7,8]
}

df = pd.DataFrame(dct)
df

In [ ]:
# function that add one to an inserted value
def add_one(value):
    return value + 1

In [ ]:
# apply function to all values in a dataframe
df.apply(add_one)

In [ ]:
# create a new column 'c' 
df['c'] = df['a'].apply(add_one)
df

In [ ]:
# return sum of values from column 'a' and column 'b' 
def sum_a_and_b_columns(row):
    a_value = row['a']
    b_value = row['b']
    
    return a_value + b_value

In [ ]:
# apply to each row
df['d'] = df.apply(sum_a_and_b_columns, axis=1)

In [ ]:
df

In [ ]:
# performance of apply
%timeit df.apply(sum_a_and_b_columns, axis=1)

In [ ]:
# performance of vectorized arrays 
%timeit df['a'] + df['b']

In [ ]:
# stack
df_single_level_cols = pd.DataFrame([[0, 1], [2, 3]],
                                    index=['cat', 'dog'],
                                    columns=['weight', 'height'])
df_single_level_cols

In [ ]:
# stack / unstack
df_single_level_cols.stack()#.to_frame().rename(columns={0:'value'})

In [ ]:
# unstack
df_stacked = df_single_level_cols.stack()
df_stacked.unstack()

In [ ]:
# pivot 
df = pd.DataFrame({'foo': ['one', 'one', 'one', 'two', 'two',
                           'two'],
                   'bar': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'baz': [1, 2, 3, 4, 5, 6],
                   'zoo': ['x', 'y', 'z', 'q', 'w', 't']})
df

In [ ]:
# pivot 
df.pivot(index='foo', columns='bar', values='baz')

In [ ]:
# pivot
df.pivot(index='foo', columns='bar')#['baz']

In [ ]:
# pivot error
df = pd.DataFrame({"foo": ['one', 'one', 'two', 'two'],
                   "bar": ['A', 'A', 'B', 'C'],
                   "baz": [1, 2, 3, 4]})
df

In [ ]:
# pivot error
df.pivot(index='foo', columns='bar', values='baz')

In [ ]:
# pivot table
df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
                         "bar", "bar", "bar", "bar"],
                   "B": ["one", "one", "one", "two", "two",
                         "one", "one", "two", "two"],
                   "C": ["small", "large", "large", "small",
                         "small", "large", "small", "small",
                         "large"],
                   "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],
                   "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})
df

In [ ]:
# pivot table
df.pivot_table(values='D', index=['A', 'B'], columns=['C'], aggfunc='sum', fill_value=0)

In [ ]:
import numpy as np

# pivot table
df.pivot_table(values=['D', 'E'], index=['A', 'C'], aggfunc={'D': np.mean, 'E': [min, max, np.mean]})

In [ ]:
# rolling functions
s = pd.Series([1,2,3,4,5])
df = pd.DataFrame({"A": s, "B": s ** 2})
df

In [ ]:
# rolling sum
df.rolling(window=3).sum()

In [ ]:
# rolling mean
df.rolling(window=3).mean()

In [ ]:
# expanding
df.expanding().sum()

In [ ]:
# cumsum
df.cumsum()